*{
    box-sizing: content-box;
}

html, body{
    width: 100vw;
    height: 100vw;
}

.wrap{
    width: 80vw;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

h3{
    margin-top: 20px;
    font-size: 1.7em;
    font-weight: bold;
}

/*top bar*/
.topBar{
    width: 80vw;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

.seperateHr{
    width: 80vw;
    height: 3px;
    border-top: 2px solid rgb(15 15 15 / 10%);
    margin: 5px 0px 15px 0px;
}

.searchBox{
    border: none;
}

.searchIcon{
    color: rgb(15 15 15 / 50%);
}

/*list*/
.state{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.stateName{
    width: 50px;
    font-size: 13px;
    margin-bottom: 10px;
    border-radius: 3px;
    padding: 5px;
    text-align: center;
}

.stateTitle{
    display: flex;
    flex-direction: row;
    align-items: center;

    font-size: 13px;
}

.fa-inbox{
    color: black;
    margin-bottom: 10px;
}

.count{
    font-size: 13px;
    font-weight: bold;
    color: #b3b2b0;
    margin-bottom: 10px;
    margin-left: 5px;
}

.beforeStateName{
    background-color: #ffccd1;
}

.progressStateName{
    background-color: #fbeecc;
}

.endStateName{
    background-color: #cce7e1;
}

.todoInput{
    border: none;
    width: 100%;
    font-size: 13px;
}

.list{
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 180px;
    padding: 8px 10px 10px;
    margin-bottom: 8px;

    border-radius: 3px;
    box-shadow: rgb(15 15 15 / 10%) 0px 0px 0px 1px, rgb(15 15 15 / 10%) 0px 2px 4px;

    background-color: white;
    color: grey;

    font-size: 13px;
}

.listWrap{
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.todo{
    text-align: left;
    align-items: flex-start;
    justify-content: space-between;
    word-break: break-all;

    font-size: 14px;
    color: black;
}

.hide{
    display: none;
}

.addNew{
    text-align: center;
    cursor: pointer;
}

.addNew:hover{
    background-color: rgb(194, 195, 200, 10);
}

button{
    background-color: white;
    cursor: pointer;
}

.icons{
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    opacity: 0;
}

.todo:hover > .icons{
    transition: 0.7s ease-in-out;
    opacity: 1;
}

